<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    </style>
    
    <title>Hypsters</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center" mt-2 mb-4>HypHub</h1>
      <img class="img-fluid" id = "banner" src="https://pyflask.premalathabalan.repl.co/static/banner.jpg"  >
      <h2 class="text-center" mt-2 mb-4>About HypHub</h2>
      <p class="lead">
        At Hyphub we share what hypothesis we are working on so that we learn the pattern to help us improve our understanding of what we are seeing on the ground
      </p>
      <h2 class="text-center" mt-2 mb-4 >Currently experimenting hypotheses</h2>
      <p>Todo - show the Hyps here</p>
      <div class="text-center" > 
      <button class="btn btn-primary btn-lg" >Contact Us</button>
        <p class = mt-4 >Copyright Hyphub 2023</p>
      </div>
    </div>
  </body>
</html>