<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner {
        margin-top: 16px;
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
    </style>
    
    <title>Hypsters</title>
  </head>
  <body>

  {% include 'nav.html' %}
  <img class="img-fluid" id = "banner" src="https://pyflask.premalathabalan.repl.co/static/banner.jpg"  >  
    <div class="container">
      <h1 class="text-center" mt-2 mb-4>{{comapny_name}} HypHub Hypotheses </h1>
      <div class="row" style="margin-bottom:16px;">
        <div class="col-md-6">
      <p class="lead">
        At Hyphub we share what hypothesis we are working on so that we learn the pattern to help us improve our understanding of what we are seeing on the ground
      </p>
    </div>
      <div class="d-none d-md-block col-md-6">
      <img src="/static/people.jpg"  style="height:320px; border-radius:4px;">
      </div>
    </div>
      <h2 class="text-center" mt-2 mb-4 >Hypothesis in experimentation</h2>

      <div>
        {% for hyp in hyps %}
       {% include 'hypitems.html' %}
        {% endfor %}
      </div>
      <div class="text-center" > 
      <a class="btn btn-primary btn-lg" href="mailto:premalatha.balan@gmail.com?mailto:premalatha.balan@gmail.com?subject=Question%20about%20Hybub%20-%20%3Cxxxplease%20edit%20thisxxx%3E&body=My%20name%3A%0D%0AMy%20email%20id%3A%0D%0A%0D%0AI%20would%20like%20to%20know%20more%20about%20%3Cxxxplease%20edit%20thisxxx%3E%20on%20HypHub%0D%0A%0D%0AWhy%20I%20want%20this%20information%20-%20detail%3A%0D%0A%0D%0A">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>